{% extends "layout.html" %}


{% block content %}
<div class="row justify-content-end mr-5">
    <div class="col-auto align-self-center"><a href="{{url_for("calendar", month=prev_month, year=prev_month_year)}}"><span class="material-icons">west</span></a></div>
    <div class="col-auto align-self-center"><h1>July, 2020</h1></div>
    <div class="col-auto align-self-center"><a href="{{url_for("calendar", month=next_month, year=next_month_year)}}"><span class="material-icons">east</span></a></div>
</div>
<div class="container-fluid bg-dark">
    <!-- Row with weekdays, this is only visible until md breakpoint -->
    <div class="row d-none d-sm-none d-md-flex">
        <div class="col mt-1 mx-1">
            <h5 class="text-center text-light">Mon</h5>
        </div>
        <div class="col mt-1 mx-1">
            <h5 class="text-center text-light">Tue</h5>
        </div>
        <div class="col mt-1 mx-1">
            <h5 class="text-center text-light">Wed</h5>
        </div>
        <div class="col mt-1 mx-1">
            <h5 class="text-center text-light">Thu</h5>
        </div>
        <div class="col mt-1 mx-1">
            <h5 class="text-center text-light">Fri</h5>
        </div>
        <div class="col mt-1 mx-1">
            <h5 class="text-center text-light">Sat</h5>
        </div>
        <div class="col mt-1 mx-1">
            <h5 class="text-center text-light">Sun</h5>
        </div>
    </div>
    {% for i in range(final_list.__len__()) %}
    <div class="row">
        {% for j in range(final_list[i].__len__()) %}
        <div class="col-md m-1 rounded" style="background-color: #999999;">
            <div class="p-2">
                <div class="row justify-content-end d-none d-sm-none d-md-flex">
                    <h4>{{final_list[i][j][0]}}<sup>th</sup></h4>
                </div>
                <div class="row justify-content-end d-flex d-sm-flex d-md-none">
                    <h4>Monday, {{final_list[i][j][0]}}<sup>th</sup></h4>
                </div>
                <div class="row">
                    <p>This will be the main text. Now we should have two lines of text</p>
                </div>
                <div class="row">
                    <small>Something on the bottom</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}